* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

nav, footer, .hero-box {
    background-color: #1F2937;
}

.header-container {
    display: flex;
    width: 69vw;
    margin: 0 auto;
    align-items: baseline;
}

nav div ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    color: #ccccd1;
    font-size: 18px;
}

ul li a {
    color: #ccccd1;
    font-size: 18px;
    text-decoration: none;
}

nav div h1 {
    margin-right: auto;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
    flex: 1 0 auto;
}

.hero-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 auto;
    padding: 3vw 15vw 3vw 15vw;
}

.hero-image {
    flex: 1 1 35vw;
    max-width: 40vw;
    height: auto;
    min-width: 300px;
}

.hero-text {
    margin: 0;
    font-size: 18px;
    color: #ccccd1;
    font-weight: 400;
    line-height: 125%;
}

.hero-desc-box {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 4vw;
    margin: 0 auto;
}

.hero-header {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.hero-button {
    background-color: #3882F6;
    width: 100px;
    padding: 10px 24px 10px 24px;
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
    color: #F9FAF8;
    font-weight: 600;
    margin-top: 1vw;
}

.info-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
    padding-bottom: 5vh;
}

.info-card {
    display: flex;
    flex: 0 1 20vw;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 3vw 1vw 2vw 1vw;
    max-width: 200px;
}

.info-card-header {
    text-align: center;
    margin: 5vh auto 0 auto;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.card-pic {
    max-width: 200px;
    min-width: 100px;
    height: auto;
    border-radius: 10%;
    border: 5px solid #3882F6;
}

.card-subtext {
    text-align: center;
    color: #3f4958;
    font-weight: 400;
    line-height: 125%;
    font-size: 1.2em;
}

.quote-box {
    padding: 12vh 20vw 10vh 20vw;
    background-color: #E5E7EB;
}

.quote-box .quote-body {
    font-size: 32px;
    font-weight: 300;
    margin: 0;
    line-height: 125%;
}

.quote-box .quote-attribution {
    color: #1f2937;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    text-align: right;
    padding-right: 16px;
}

.call-to-action-container {
    margin: 0 auto;
    padding: 10vh 13vw 10vh 13vw;
}

.cta-box {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 6vh 7vw 6vh 7vw;
}

.cta-header {
    font-size: 24px;
    margin: 0;
}

.cta-text-wrapper {
    max-width: 70%;
}

.cta-desc {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.cta-button {
    min-width: 100px;
    text-align: center;
    border: 1px solid #F9FAF8;
    border-radius: 10px;
    padding: 10px 24px 10px 24px;
}

footer {
    padding: 4vh 0 4vh 0;
    text-align: center;
    color: #F9FAF8;
    font-size: 18px;
}